<%- include('partials/header') -%>

<div class="box">
<form class="text" action="/" method="post">
<h1> <%=post %> </h1>
<div class="">
  <%= dict[post] %>
</div>

</form>
</div>
<%- include('partials/footer') -%>
